.nav {
  color: #f1f1f1;
  width: 100%;
  height: 10vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav h2 {
  font-weight: 400;
  font-size: medium;
}
.nav ul {
  text-decoration: none;
  list-style: none;
  display: flex;
  align-items: center;
}

.options li {
  margin: 0 6px;
}

.li {
  cursor: pointer;
}

.options2 li {
  margin: 0 6px;
  text-align: center;
}

.svg {
  margin-top: 6px;
}

.options2 li button {
  padding: 8px 14px;
  background-color: black;
  color: #f1f1f1;
  border: 1px solid #f1f1f1;
  border-radius: 20px;
}
